


<div class="title" md-colors="{color:'primary'}">Bienvenido {{usuario}}</div>
<div class="description">A continuacion te ayudaremos a seleccionar el paquete de productos que se ajusten a tus necesidades.
Solo tienes que responder las preguntas basicas de configuracion de tu equipo y
al final se te presentara la lista de productos que necesitas.</div>

<div style="width:300px;">
<div class="form-group">
  <div class="input-group">
    <input ng-model="formData.proyecto" type="text" placeholder="Nombre"  >
    <div class="input-group-label" style="width:60%">Proyecto</div>

  </div>
  <div class="form-helper">Identificacion de la Cotizacion</div>
</div>

<div class="form-group">
  <div class="input-group">
    <input ng-model="formData.contacto" type="text" placeholder="Nombre">
    <div class="input-group-label" style="width:60%">Contacto</div>

  </div>
  <div class="form-helper">Identificacion del cliente al que se dirige </div>
</div>
</div>
<div layout="row" layout-align="center end"><md-button class="md-raised" ui-sref="form.appliance" style="width:100%;"><h2 class="md-display">Comenzar</h2></md-button></div>
