<div layout="column" layout-align="center start">
<div class="title" md-colors="{color:'primary'}">Configuracion de equipo</div>

  <div flex class="container">
    <div layout="row" layout-align="start start">

      <div >
        <div class="form-group">
          <div class="input-group">
            <input ng-model="formData.TKSIP" type="number" placeholder="Cantidad" ng-change="buscaProducto()" required="">
            <div class="input-group-label" style="width:60%">TKSIP</div>
          </div>
          <div class="form-helper">Ayuda sobre TKSIP</div>
        </div>

          <div class="form-group">
            <div class="input-group">
              <input ng-model="formData.digitales" type="number" placeholder="Cantidad" ng-change="buscaProducto()" required="">
              <div class="input-group-label" style="width:60%">Digitales</div>
            </div>
            <div class="form-helper">Numero de lineas Digitales</div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input ng-model="formData.analogos" type="number" placeholder="Cantidad" ng-change="buscaProducto()" required="">
              <div class="input-group-label" style="width:60%">Analogicos</div>
            </div>
            <div class="form-helper">Numero de troncales Analogicos</div>
          </div>



          <div class="form-group">
            <div class="input-group">
              <input ng-model="formData.extensiones" type="number" placeholder="Cantidad" ng-change="buscaProducto()" required="">
              <div class="input-group-label" style="width:60%">Extensiones</div>
            </div>
            <div class="form-helper">Numero de extensiones que necesitas</div>
          </div>



          <div class="form-group">
            <div class="input-group">
              <md-select required="" ng-model="formData.servicioSeleccionado" placeholder="Lugar" class="md-no-underline" style="width:180px;background-color: white; margin: 0px; color:black; 	border:1px solid #D1D1D1;">
                <md-option ng-repeat="servicio in servicioSelect" value="{{servicio.id}}">{{servicio.opcion}}</md-option>

              </md-select>
              <div class="input-group-label" style="width:60%">Implementacion</div>
            </div>
            <div class="form-helper">Si la instalacion se realizara fuera de la CDMX seleccione foranea</div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <md-select required="" ng-model="formData.mantenimientoSeleccionado" placeholder="Tipo" class="md-no-underline"  style="width:180px;background-color: white; margin: 0px; color:black; 	border:1px solid #D1D1D1;">

                 <md-option ng-repeat="mantenimiento in mantenimientoSelect" value="{{mantenimiento.id}}">{{mantenimiento.opcion}}</md-option>

              </md-select>
              <div class="input-group-label" style="width:60%">Mantenimiento</div>
            </div>
            <div class="form-helper">Ayuda sobre el Mantenimiento</div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <md-select required="" ng-model="formData.pagoSeleccionado" placeholder="Tipo" class="md-no-underline"  style="width:180px;background-color: white; margin: 0px; color:black; 	border:1px solid #D1D1D1;">

                 <md-option ng-repeat="pago in pagoSelect" value="{{pago.id}}">{{pago.opcion}}</md-option>

              </md-select>
              <div class="input-group-label" style="width:60%">Pago</div>
            </div>
            <div class="form-helper">Difiera su pago</div>
          </div>


        </div>
        <div style="margin-left:100px">
          <md-card >
            <img src="{{productoSeleccionado.imagen}}" class="md-card-image"></img>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ productoSeleccionado.nombre }}</span>

              </md-card-title-text></md-card-title>

            <md-card-content>


              <p>  {{productoSeleccionado.descripcion}}

              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">

            <span class="md-subhead"><strong>Numero de extensiones:</strong> {{productoSeleccionado.extensiones}}</span>
            <span class="md-subhead"><strong>Llamadas Concurrentes:</strong> {{productoSeleccionado.concurrentes}}</span>
</md-card-actions>


            <div role="alert">
              <span class="error" ng-show="registerForm.concu.$error.max" style=" width: 50%; text-align: center; color:red;">
                Necesitas mas lineas concurrentes de las que el equipo tiene</span>
              </div>

            </md-card>


            <div layout="row" layout-align="end center">
            <md-button class="md-raised" ui-sref="form.bienvenida"><h2 class="md-display">Atras</h2></md-button>
            <md-button class="md-raised md-warn" ui-sref="form.telefonos" ng-click="seleccionaProducto()"><h2 class="md-display">Siguiente</h2></md-button>
          </div>
          </div>
      </div>



    </div>



  </div>
