<div class="title" md-colors="{color:'primary'}" >Equipos adicionales</div>
<div layout="row"  layout-padding layout-align="start start">
  <md-content flex layout="row" >
  <div  ng-repeat="item in lista" ng-if="item.categoria == 'adicionales' ">
  <md-card style="width:300px;" >

    <img src="{{item.imagen}}" class="md-card-image" style="width:200px;"></img>
    <div class="form-group" style="margin-bottom:0px;">
      <div class="input-group">
        <div class="input-group-label" style="width:40%" ng-click="removeTelefono($index)">-</div>

        <input ng-model="item.cantidad" type="number" placeholder="Cantidad" required="">
        <div class="input-group-label" style="width:40%"  ng-click="addTelefono($index)">+</div>
      </div>
    </div>
    <md-card-title layout="row">

      <md-card-title-text>
        <span class="md-headline">{{ item.nombre }}</span>

      </md-card-title-text>

    </md-card-title>



      <md-card-content>


        <p>  {{item.descripcion}}

        </p>
      </md-card-content>
      <md-card-actions layout="row" >
        <div layout="column" flex="50" layout-align="center center">
        <span class="md-subhead" style="color:#f57c00;"> {{item.precio|currency}}</span>

      </div>


      </md-card-actions>

    </md-card>

    </div>

  </div>
</md-content>
  <div layout="row" layout-align="end center">
  <md-button class="md-raised" ui-sref="form.telefonos"><h2 class="md-display">Atras</h2></md-button>
  <md-button class="md-raised md-warn" ui-sref="form.result"><h2 class="md-display">Siguiente</h2></md-button>
</div>
