
<md-card flex="flex" flex-gt-sm="50" flex-gt-md="33" layout-align='center center' style=" position: absolute;  top: 20%; left: 40%;" ng-show='loginShow' >

  <div class="title" md-colors="{color:'primary'}" style="margin :50px">Cotizador TOGA</div>
  <md-card-avatar>
    <img class="md-user-avatar" src="{{logo}}"  style="width:200px;"/>
  </md-card-avatar>
  <md-card-content>
    <form name="Form">
      <md-input-container class="md-block">

        <input type="text" name="email" ng-model="formLogin.usuario" placeholder="Introduce tu usuario" ng-disabled="usuarioDisable" />
        <div ng-messages="Form.email.$error" role="alert" multiple="">
          <div ng-message="required" class="my-message">Por favor introduzca su nombre de usuario</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" ng-show='passwordShow'>
        <input type="password" name="password" ng-model="formLogin.password" placeholder="Contraseña" />
        <div ng-messages="Form.password.$error" role="alert" multiple="">
          <div ng-message="required" class="my-message">Por favor introduzca su Password</div>
        </div>
      </md-input-container>
      <md-button style="width:100%;" ng-click="buscaUsuario()"  class="md-raised md-primary"  ng-show='buscaShow'>Siguiente</md-button>
      <md-button style="width:100%;" ui-sref="form.bienvenida" ng-click="loginShow=0" class="md-raised md-primary"  ng-show='passwordShow'>&nbsp Iniciar &nbsp</md-button>
    </form>
  </md-card-content>

</md-card>
